@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-style: normal;
}

body {
    font-family: 'Roboto';
}

button {
    border: none;
    border-radius: 10px;

    height: fit-content;
    width: fit-content;

    background-color: hsl(38, 11%, 81%);
    transition: background-color 0.25s;
}

button:hover {
    background-color: hsl(36, 23%, 84%);
    cursor: pointer;
}

button p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    font-size: 1.35em;
    font-family: 'Roboto';
}

.redBtn {
    background-color: hsl(0, 59%, 70%);
    transition: background-color 0.25s;
}

.redBtn:hover {
    background-color: hsl(0, 71%, 74%);
}

#engineTitle {
    text-align: center;
    margin-top: 20px;
}

#bar {
    display: flex;
    flex-direction: row;

    gap: 10px;
    
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 20px;

    background-color: hsl(38, 70%, 87%);
}

#playerSide {
    margin-left: 10px;
}

#settingsButton {
    margin-left: auto;
    margin-right: 10px;
}

#settings {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.226);
}

#settingsMenu {
    left: 50%;
    transform: translate(-50%, 25%);
    z-index: 99 !important;

    width: 330px;
    height: 400px;

    background-color: hsl(38, 70%, 87%);
    position: fixed;
    overflow: auto;
}

#settingsMenuTitle {
    text-align: center;

    margin-top: 12px;
    margin-bottom: 0px;
}

#settingsClose {
    position: absolute;
    transform: translate(850%, -100%);
}

.settingsHeader {
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    font-size: 1.3em;
}

.settingsItem {
    margin-left: 20px;
}

/*Targets all buttons in settings menu*/
/*Centering is not scalable to new buttons*/
.settingsItem button {
    margin-top: 5px;
    margin-bottom: 5px;

    position: relative;
    transform: translate(120%, 0%);
}

.settingsItem button p {
    font-size: 1.15em;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#gameInfo {
    width: 400px;
    height: 300px;

    background-color: hsl(38, 70%, 87%);
}

#gameStatus {
    margin-top: 12px;

    text-align: center;
    font-size: 1.75em;
}